<ion-card>
  <ion-card-header style="padding: 0;">

    <ion-item lines="none">
      <ion-label>
        <ion-card-subtitle>{{ workout.cycle }} <ion-text color="danger">+</ion-text></ion-card-subtitle>
        <ion-card-title>{{ workout.description }}</ion-card-title>
      </ion-label>
          <div slot="end">
            <ion-text style="font-size: 1.2em;"color="secondary">{{ oneRepMax[workout.key] }}</ion-text><br>
            <ion-text color="medium">1RM</ion-text>
          </div>
    </ion-item>

  </ion-card-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <p>Total Reps</p>
            <ion-text color="secondary">{{ workout.completedReps || 0 }}/{{ workout.totalWorkoutReps }}</ion-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Total Weight</p>
            <ion-text color="success">{{ workout.completedWeight || 0 }}/{{ workout.totalWorkoutWeight }}lbs</ion-text>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Personal Record</p>
            <ion-text color="danger">8 reps @ 175lbs</ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <canvas width="500" height="500" baseChart 
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [options]="options"
          [colors]="colors"
          [chartType]="doughnutChartType">
        </canvas>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button 
            [routerLink]="'/tabs/schedule/workout/' + workout.id"
            expand="block">
              Start
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>