<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/schedule/schedule-settings" color="primary" fill="clear" aria-label="Calendar Settings">
        Settings
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="background">
      <ion-title size="large">Schedule</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(todaysCompletedWorkout) {
      <app-todays-completed-workout [workout]="todaysCompletedWorkout" [unit]="weightUnit"></app-todays-completed-workout>
  }
  @if(schedule.length && oneRepMax) {
    <div>
      @if(nextWorkout || workoutInProgress === nextWorkout.id) {
        <div>
          <h4 style="margin-left: 20px; padding: 0; margin-bottom: 0;">{{ nextWorkout.targetDate | timeAhead }}</h4>
          <ion-card *ngIf="nextWorkout" style="margin-top: 10px;">
            <ion-grid class="ion-no-padding">
              <ion-row class="ion-align-items-center">
                <ion-col size="10" class="ion-text-start" >
                  <h2 class="workout-description">{{ nextWorkout.description }}</h2>
                  <ion-text class="workout-cycle" color="medium">{{ nextWorkout.cycle }}</ion-text>
                </ion-col>
                <ion-col size="2" class="ion-text-end">
                  <ion-text (click)="presentOneRepMaxPromptAlert(nextWorkout.key, weightUnit, oneRepMax[nextWorkout.key][weightUnit])" class="one-rep-max" color="primary">{{ oneRepMax[nextWorkout.key][weightUnit] || 0 }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
            @for(lift of nextWorkout.lifts; let index = $index; track index) {
              <ion-item>
                <ion-label>
                  <h1>{{ lift.weight[weightUnit] }} {{ weightUnit }}</h1>
                </ion-label>
                <ion-text color="medium" slot="end">
                  {{ lift.percentage | percent }} x{{ lift.reps }}
                  <span *ngIf="lift.failure">+</span>
                  <span *ngIf="!lift.failure">&nbsp;&nbsp;</span>
                </ion-text>
              </ion-item>
            }
            <ion-card-content>
              <ion-button
                [routerLink]="'/tabs/schedule/workout/' + nextWorkout.id" color="warning"
                expand="block">
                  <span *ngIf="workoutInProgress !== nextWorkout.id" style="font-weight: 700;">Start Workout</span>
                  <span *ngIf="workoutInProgress === nextWorkout.id" style="font-weight: 700;">In Progress</span>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      }
      @for(cycle of schedule; track cycleIndex; let firstCycle = $first; let cycleIndex = $index) {
        <div>
          @for(workout of cycle.schedule; track i; let i = $index;) {
            <div>
              @if(!cycle.datetimeCompleted) {
                <div>
                  @if(!workout.datetimeCompleted && workout.id !== nextWorkout.id) {
                    <div>
                      <h4 style="margin-left: 20px; padding: 0; margin-bottom: 0;">{{ workout.targetDate | timeAhead }}</h4>
                      <ion-card style="margin-top: 10px;">
                          <ion-grid class="ion-no-padding">
                            <ion-row class="ion-align-items-center">
                              <ion-col size="10" class="ion-text-start" >
                                <h2 class="workout-description">{{ workout.description }}</h2>
                                <ion-text class="workout-cycle" color="medium">{{ workout.cycle }}</ion-text>
                              </ion-col>
                              <ion-col size="2" class="ion-text-end" >
                                <ion-text (click)="presentOneRepMaxPromptAlert(workout.key, weightUnit, oneRepMax[workout.key][weightUnit])" class="one-rep-max" color="primary">{{ oneRepMax[workout.key][weightUnit] || 0 }}</ion-text>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        @for(lift of workout.lifts; let index = $index; let last = $last; track index) {
                          <ion-item [lines]="last ? 'none' : 'inset'">
                            <ion-label>
                              <h1>{{ lift.weight[weightUnit] }} {{ weightUnit }}</h1>
                            </ion-label>
                            <ion-text color="medium" slot="end">
                              {{ lift.percentage | percent }} x{{ lift.reps }}
                              <span *ngIf="lift.failure">+</span>
                              <span *ngIf="!lift.failure">&nbsp;&nbsp;</span>
                            </ion-text>
                          </ion-item>
                        }
                        <ion-card-content></ion-card-content>
                      </ion-card>
                    </div>
                  }
                </div>
              }
            </div>
          }
        </div>
      }
      <div class="ion-padding">
        <ion-button (click)="presentStartNewCycleModal()" expand="block" color="warning" size="large">Start New Cycle</ion-button>
      </div>
    </div>
  }
    
  @if(!scheduleRequestComplete) {
    <app-schedule-loading></app-schedule-loading>
  }

  

</ion-content>
