.workout-description {
    font-size: 28px;
    font-weight: 700;
    color: var(--ion-color-background-contrast);
    margin-bottom: 0;
    margin-left: 18px;
}

.workout-cycle {
    font-weight: 700;
    font-size: 0.75rem;
    margin-left: 18px;
}

.one-rep-max {
    font-size: 1.4rem;
    font-weight: 500;
    margin-right: 15px;
}