<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="background">
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  @if(trainingPercentage && weightUnit) {
  
      <ion-card>
    
        <ion-list>
          <ion-item routerLink="/tabs/settings/one-rep-max-weight" detail>
            <ion-icon name="barbell" slot="start" color="primary"></ion-icon>
            <ion-label>
              <h1>1RM Weight</h1>
              <p>Core lift one rep max weights</p>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/settings/schedule" detail>
            <ion-icon name="sync" slot="start" color="secondary"></ion-icon>
            <ion-label>
              <h1>Cycle Settings</h1>
              <p>Manage days and cycles.</p>
            </ion-label>
          </ion-item>
          <!-- <ion-item routerLink="/tabs/settings/warmup" >
            <ion-icon name="fitness" slot="start" color="primary"></ion-icon>
            <ion-label>
              <h1>Warmup Settings</h1>
            </ion-label>
          </ion-item> -->
          <ion-item routerLink="/tabs/settings/assistance-work">
            <ion-icon name="body" slot="start" color="tertiary"></ion-icon>
            <ion-label>
              <h1>Assistance Work</h1>
              <p>Manage your assistance template</p>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/settings/weight-precision">
            <ion-icon name="build" slot="start" color="success"></ion-icon>
            <ion-label>
              <h1>Unit & Precision</h1>
              <p>Set weight unit and rounding</p>
            </ion-label>
            <ion-text color="warning" slot="end">{{ weightUnit.unit }}</ion-text>
          </ion-item>
          <ion-item (click)="navigateToPlateCalculator()">
            <ion-icon name="calculator" slot="start" color="warning"></ion-icon>
            <ion-label>
              <h1>Plate Calculator</h1>
              <p>Configure barbell and weights</p>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/tabs/settings/training-percent">
            <ion-icon name="options" slot="start" color="primary"></ion-icon>
            <ion-label>
              <h1>Training Percent</h1>
              <p>Configure lift calculation</p>
            </ion-label>
            <ion-text color="warning" slot="end">{{ trainingPercentage | percent }}</ion-text>
          </ion-item>
          <ion-item lines="none" routerLink="/tabs/settings/app-behavior">
            <ion-icon name="phone-portrait" slot="start" color="medium"></ion-icon>
            <ion-label>
              <h1>App Behavior</h1>
              <p>Notifications, Apple Health and screen settings</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    
      @if(products && purchaseStatus) {
        <!-- <ion-card>
          <ion-list>
            <ion-item-divider>Features</ion-item-divider>
            <ion-item *ngFor="let product of products" (click)="presentProductModal(product)">
              <ion-label class="ion-text-wrap">
                <h1>{{ product.title }}</h1>
                <p>{{ product.description }}</p>
              </ion-label>
              <ion-text *ngIf="!purchaseStatus[product.alias].owned && !productLoading[product.alias]" slot="end">{{ product.price }}</ion-text>
              <ion-icon *ngIf="purchaseStatus[product.alias].owned" slot="end" name="checkmark" color="success"></ion-icon>
              <ion-spinner *ngIf="productLoading[product.alias]" slot="end" name="crescent"></ion-spinner>
            </ion-item>
          </ion-list>
          <ion-button (click)="restorePurchases()" size="small" expand="block" fill="clear" color="primary">Restore Purchases</ion-button>
        </ion-card> -->
      }
  
      <!-- <ion-card>
        <ion-list>
          <ion-item-divider>Feedback</ion-item-divider>
          <ion-item (click)="rateApp()" lines="none">
            <ion-label class="ion-text-wrap">
              <h1>Rate This App</h1>
              <p>A positive rating is one of the most important ways you can support this app.</p>
            </ion-label>
            <ion-icon slot="end" name="open-outline"></ion-icon>        
          </ion-item>
        </ion-list>
      </ion-card> -->
  }
</ion-content>
