<div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
  <circle-progress
    [percent]="completedWorkoutsPercent"
    [radius]="25"
    [outerStrokeWidth]="30"
    [innerStrokeWidth]="30"
    [space]="-30"
    [outerStrokeColor]="'#FE4A04'"
    [innerStrokeColor]="'#FFA582'"
    [animation]="true"
    [animationDuration]="200"
    [outerStrokeLinecap]="'butt'"
  ></circle-progress>
</div>
<div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
  <circle-progress
    [percent]="completedRepPercent"
    [radius]="50"
    [outerStrokeWidth]="30"
    [innerStrokeWidth]="30"
    [space]="-30"
    [outerStrokeColor]="'#2dd36f'"
    [innerStrokeColor]="'#96E9B7'"
    [animation]="true"
    [animationDuration]="500"
    [outerStrokeLinecap]="'butt'"
  ></circle-progress>
</div>
<div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
  <circle-progress
    [percent]="completedWeightPercent"
    [radius]="100"
    [outerStrokeWidth]="30"
    [innerStrokeWidth]="30"
    [space]="-30"
    [outerStrokeColor]="'#007AFE'"
    [innerStrokeColor]="'#80BDFF'"
    [animation]="true"
    [animationDuration]="300"
    [outerStrokeLinecap]="'butt'"
  ></circle-progress>
</div>