<ion-content>
  <div class="ion-text-center">
    <ion-text color="warning">
      <h1 style="font-size: 30px; font-weight: 900; margin-bottom: 0;">PROGRESS: 5/3/1</h1>
    </ion-text>
    <div class="ion-padding">
      <h2 style="margin-top: 0;">Simple, Progressive Weightlifting.</h2>
    </div>
  </div>
  <ion-card>

    <ion-list>
      <ion-list-header>
        <ion-label color="warning">How It Works</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>Train 3-4 days a week</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="body" slot="start" color="secondary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>Workouts are programmed around: <b>Squat, Bench, Deadlift, and Shoulder Press</b></h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="options" slot="start" color="tertiary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>Each week you will lift a higher percentage of your one-rep max (1RM)</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="refresh" slot="start" color="success"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>After 16 workouts, you will add weight to your 1RM and start the percentage cycles over.</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="barbell" slot="start" color="warning"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>Break personal records and get stronger.</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <!-- <div class="ion-padding">
    
    Train 3-4 days a week. Workouts center around 4 core lifts: <b>Squat, Bench Press, Deadlift, and Shoulder Press</b>.
    Each week you will lift a higher percentage of your one-rep max (1RM). Every workout you will get a chance to set 
    a new personal record. After 16 workouts, you will add weight to your 1RM and start the percentage cycles over.
      
  </div> -->
  <!-- <div class="ion-padding">
    <ion-button (click)="learnMore()" expand="block" size="large" fill="clear">Learn more about the program</ion-button>
  </div> -->
</ion-content>

<ion-footer class="ion-padding">
  <ion-nav-link router-direction="forward" [component]="oneRepMaxSettings">
    <ion-button expand="block">Get Started</ion-button>
  </ion-nav-link>
</ion-footer>
