<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>   
    <ion-title>
      Learn More
    </ion-title>             
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="swiper-pagination"></div>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="ion-padding">
          <h3>Train 3-4 days a week</h3>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ion-padding">
          <h3>Workouts center around 4 core lifts: <b>Squat, Bench Press, Deadlift, and Shoulder Press</b></h3>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ion-padding">
          <h1>Each week you will lift a higher percentage of your one-rep max (1RM)</h1>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="ion-padding">
          <h1>After 16 workouts, you will add weight to your 1RM and start the percentage cycles over.</h1>
        </div>
      </ion-slide>
      
    </ion-slides>
</ion-content>

  
