<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="backButtonText" [defaultHref]="backButtonDefaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="background">
      <ion-title size="large">Schedule Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list-header style="margin-top: 40px;">Danger Zone</ion-list-header>
  <ion-list>
    <ion-item (click)="editFinishedWorkouts()" detail>
      <ion-label>Edit Finished Workouts</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Reset Schedule</ion-label>
      <ion-button (click)="presentScheduleResetAlert()" slot="end" color="danger">Reset</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
